<!-- Header with full-height image -->
<!-- <header class="bgimg-1 w3-display-container w3" id="home">
    <div class="w3-center w3-text-white w3-display-middle" >
      <span class="w3-jumbo w3-hide-small" style="white-space: nowrap;">Windmill Hill Observatory</span><br>
      <span class="w3-large w3-hide-small">University of Warwick</span><br>
      <span class="w3-xxlarge w3-hide-large w3-hide-medium" style="">Windmill Hill Observatory</span><br>
      <span class="w3-large w3-hide-large w3-hide-medium">University of Warwick</span><br>
      <span class="w3-large"></span>
    </div>
  </header> -->

  <header class="bgimg-1 w3-display-container w3" id="home">
    <div class="w3-display-middle w3-center w3-text-white w3-mobile" style="padding: 10px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div>
            <span class="w3-jumbo w3-hide-small" style="white-space: nowrap;"><b>Windmill Hill Observatory</b></span>
        </div>
        <div>
            <span class="w3-large w3-hide-small"><b>University of Warwick</b></span>
        </div>
        <div>
            <span class="w3-xxlarge w3-hide-large w3-hide-medium"><b>Windmill Hill Observatory</b></span>
        </div>
        <div>
            <span class="w3-large w3-hide-large w3-hide-medium"><b>University of Warwick</b></span>
        </div>
        <div>
            <span class="w3-large"></span>
        </div>
    </div>
</header>