 <!-- Page content -->

  <!-- Telescope Section -->
   <!-- Page content -->
   <div class="w3-content" style="max-width:1000px">

    <!-- Telescope Section -->
    <div class="w3-row w3-padding-64" id="about">
        <div class="w3-col m6 w3-padding-large"  style="text-align: center;">
          <img src="/images/telescope.jpg" class="w3-round w3-image" alt="Telescope"  width="300" height="400" style="margin: 0 auto;">
        </div>
  
      <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center"><a href="/pages/tabs/about_page.html"> About WHO</a></h1><br>
        <p class="w3-large" style="text-align: center;">
          Windmill Hill Observatory houses a Meade 0.4 m LX200GPS telescope.
           The Telescope features a 0.4 m diameter primary mirror with a 4064mm focal length and f/10 focal ratio.
           It was relocated from University of Warwick's La Palma Observatory to the Windmill Hill Observatory in 2022.
          </p>
        
      </div>
    </div>
    </div>

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" >
    <h2 class="w3-wide"><a href="/pages/tabs/gallery_page.html"> Gallery</a> </h2>
    <h3 class="w3-wide">Collection of Nebula Images</h3>
    <div class="w3-third">
      <img src="/images/gallery/IC5070.png" alt="IC5070" style="width:80%; border-radius:50px;">
      <h3>IC5070</h3>
      <p>19.07.2023</p>
    </div>
    <div class="w3-third">
        <img src="/images/gallery/M27.png" alt="M27" style="width:80%; border-radius:50px;">
        <h3>M27</h3>
        <p>19.07.2023</p>
    </div>
    <div class="w3-third">
      <img src="/images/gallery/NGC6992.png" alt="NGC6992" style="width:80%; border-radius:50px;">
      <h3>NGC6992</h3>
      <p>07.07.2023</p>
    </div>
  </div>